
.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 50px auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s;
}

.arrow {

    display: inline-block;
    padding: 12px;
}

.prev {
    left: 10px;
    position: absolute;
    top: 50%;
    color: #8ed790;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.7); 
    &:hover {
        color: #375f38;
        ;
    }

}

.next {
    right: 10px;
    position: absolute;
    top: 50%;
    color: #8ed790;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.4); 
    &:hover {
        color: #375f38;
        ;
    }

}

.carousel-nav {
    text-align: center;
    i {
        color: #8ed790;
        text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.7); 
        &:hover {
            color: #375f38;
            ;
        }
    }
}

  [id^= "item"] {
    display: none;
  }

@for $i from 2 through 10 {
    .item-#{$i} {
        background: url('image-'+$i+'.jpg');
        background-size: cover;
    }
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('image.jpg');
    background-size: cover;
}

:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;

}


@for $i from 2 through 10 {
    #item-#{$i}:target~.item-#{$i} {
        z-index: 3;
        opacity: 1;
        ;
    }
}

//   video {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     min-width: 100%;
//     min-height: 100%;
//     transform: translate(-50%,-50%);
//     z-index: 0;
//     padding: 25px 50px;

//   }