@import "./reset";
@import "./variables";
@import "./carousel";

.main-green {
    color: $mainGreen;
}

h1 {
    padding-top: 30px;
    font-size: 4em;
    text-align: center;
    font-family: helvetica;
}
