/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.carousel-wrapper {
  position: relative;
  height: 70vh;
  width: 100%;
  display: block;
  margin: 30px auto;
}
@media (max-width: 768px) {
  .carousel-wrapper {
    height: 60vh;
  }
}

.carousel-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s;
}

.arrow {
  display: inline-block;
  padding: 12px;
}

.prev {
  left: 10px;
  position: absolute;
  top: 50%;
  color: #8ed790;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.7);
}
.prev:hover {
  color: #375f38;
}

.next {
  right: 10px;
  position: absolute;
  top: 50%;
  color: #8ed790;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.7);
}
.next:hover {
  color: #375f38;
}

.carousel-nav {
  text-align: center;
}
.carousel-nav i {
  color: #8ed790;
  text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.7);
}
.carousel-nav i:hover {
  color: #375f38;
}

.image-2 {
  background: url("../img/image-2.jpg");
  background-size: cover;
}

.image-3 {
  background: url("../img/image-3.jpg");
  background-size: cover;
}

.image-4 {
  background: url("../img/image-4.jpg");
  background-size: cover;
}

.image-5 {
  background: url("../img/image-5.jpg");
  background-size: cover;
}

.image-6 {
  background: url("../img/image-6.jpg");
  background-size: cover;
}

.image-7 {
  background: url("../img/image-7.jpg");
  background-size: cover;
}

.image-8 {
  background: url("../img/image-8.jpg");
  background-size: cover;
}

.image-9 {
  background: url("../img/image-9.jpg");
  background-size: cover;
}

.image-10 {
  background: url("../img/image-10.jpg");
  background-size: cover;
}

.image-1 {
  z-index: 2;
  opacity: 1;
  background: url("../img/image.jpg");
  background-size: cover;
}

:target ~ .image-1 {
  opacity: 0;
}

#image-1:target ~ .image-1 {
  opacity: 1;
}

#image-2:target ~ .image-2 {
  z-index: 3;
  opacity: 1;
}

#image-3:target ~ .image-3 {
  z-index: 3;
  opacity: 1;
}

#image-4:target ~ .image-4 {
  z-index: 3;
  opacity: 1;
}

#image-5:target ~ .image-5 {
  z-index: 3;
  opacity: 1;
}

#image-6:target ~ .image-6 {
  z-index: 3;
  opacity: 1;
}

#image-7:target ~ .image-7 {
  z-index: 3;
  opacity: 1;
}

#image-8:target ~ .image-8 {
  z-index: 3;
  opacity: 1;
}

#image-9:target ~ .image-9 {
  z-index: 3;
  opacity: 1;
}

#image-10:target ~ .image-10 {
  z-index: 3;
  opacity: 1;
}

.main-green {
  color: #8ed790;
}

h1 {
  padding-top: 30px;
  font-size: 4em;
  text-align: center;
  font-family: helvetica;
}/*# sourceMappingURL=style.css.map */